.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shadow {
  filter: drop-shadow(0 0 1em var(--light-red));
}
.yellow {
  filter: drop-shadow(0 0 1em var(--warning-yellow));
  background-color: var(--warning-yellow);
}

.red {
  background-color: var(--error-red);
}
